.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  gap: 15%;
}

.div-logo-text {
  padding: 10px 0;
  display: flex;
  gap: 10px;
}

.div-logo-text div {
  display: flex;
  flex-direction: column;
}

.my-curriculum {
  font-size: 11pt;
}
