<div class="toolbar" role="banner">
  <div class="div-logo-text">
    <img
      width="60"
      alt="Neider Logo"
      src="https://img.freepik.com/foto-gratis/gran-letra-n-naranja-roja-paisaje-desertico-fondo_1340-36052.jpg?w=996&t=st=1696293154~exp=1696293754~hmac=d646acbc115d94519056500cbbef07ade65b157fa40b4a91c3d40adb9aca9dd1"
    />
    <div>
      <span class="my-curriculum">My</span>
      <span class="my-curriculum">Curriculum</span>
      <span class="my-curriculum">Vitae</span>
    </div>
  </div>

  <app-navbar></app-navbar>
</div>
