<div class="container-details">
  <ng-template #templateLayout>
    <h1>Not see details</h1>
  </ng-template>

  <button (click)="mostrar()">See Details</button>

  <div *ngIf="visible; else templateLayout">
    <h1>Details</h1>

    <div>
      <h2>Name:</h2>
      <h3>Neider Urbano</h3>
    </div>

    <div>
      <h2>Age:</h2>
      <h3>23 Year</h3>
    </div>

    <div>
      <h2>Location:</h2>
      <h3>Paz de Ariporo, Casanare</h3>
    </div>
  </div>

  <div>
    <h2>Contact me</h2>
    <div>
      <form [formGroup]="formGroup" (submit)="onSubmit(formGroup.value)">
        <div>
          <label>User</label>
          <input name="user" formControlName="user" />
          <div
            *ngIf="
              formGroup.get('user')?.invalid &&
              (formGroup.get('user')?.dirty || formGroup.get('user')?.touched)
            "
          >
            <span *ngIf="formGroup.get('user')?.errors?.['required']">
              User required
            </span>
            <span *ngIf="formGroup.get('user')?.errors?.['email']">
              User invalid
            </span>
          </div>
        </div>

        <div>
          <label>Password</label>
          <input name="password" type="password" formControlName="password" />
          <div
            *ngIf="
              formGroup.get('password')?.invalid &&
              (formGroup.get('password')?.dirty ||
                formGroup.get('password')?.touched)
            "
          >
            <span *ngIf="formGroup.get('password')?.errors?.['required']">
              Password required
            </span>
            <span *ngIf="formGroup.get('password')?.errors?.['minlength']">
              Min 3 characters
            </span>
          </div>
        </div>

        <input type="submit" value="Login" [disabled]="!formGroup.valid" />
      </form>
    </div>
  </div>

  <div>
    <h1>Movie favorite</h1>

    <button (click)="onSubmitMovie()">GET</button>

    <div style="margin-top: 20px">
      <h2>{{ movie?.Search?.[0]?.Title }}</h2>

      <ng-container *ngIf="movie?.Search">
        <img *ngIf="movie?.Search" [src]="movie?.Search?.[0]?.Poster" alt="" />
      </ng-container>
    </div>
  </div>
</div>
