.container-nav {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.circle-link {
  text-decoration: none;
  color: #757575;
  font-size: 16px;
  height: 40px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  padding-left: 10px;
  font-weight: 500;
}

.circle-link svg {
  margin-right: 10px;
  width: 20px;
}

.circle-link:hover {
  background: #e9eaeb;
  color: #111111;
}

.circle-link-active {
  background: #d9dadc;
  color: #111111;
}
