.container-projects {
  margin-top: 150px;
}

.container-projects h1 {
  color: #111111;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
  font-size: 20pt;
}

.container-projects p {
  color: #666666;
  font-size: 12pt;
  margin-bottom: 40px;
}
