.container-project {
  cursor: pointer;
}

.container-img-project {
  border-radius: 15px;
  padding: 45px 30px;
  background: #d4d8db;
}

.container-img-project img {
  width: 100%;
  border-radius: 15px;
  transition: transform 0.2s;
}

.container-img-project img:hover {
  transform: scale(1.05);
}

.container-info-project {
  margin-top: 10px;
}

.container-info-project h1 {
  margin: 0;
  font-size: 13pt;
  color: #111;
  font-weight: 500;
}

.container-info-project h2 {
  color: #666666;
  margin: 0;
  font-size: 12pt;
  font-weight: 400;
}
