<div class="container-detail-project">
  <h1>{{ this.projectSelect?.name }}</h1>
  <h3>Proyecto basico para aprender a usar Angular</h3>
</div>

<div class="container-projects-select">
  <app-angular-hooks *ngIf="this.idProjectSelect == 1"></app-angular-hooks>
  <app-dog *ngIf="this.idProjectSelect == 2"> </app-dog>
  <app-favorite-movie *ngIf="this.idProjectSelect == 3"></app-favorite-movie>

  <div class="container-nav-imgs" *ngIf="this.idProjectSelect == 4">
    <button *ngFor="let img of imgs" (click)="goToImg(img.id)">
      Opción {{ img.id }}
    </button>
  </div>

  <div class="container-nav-jwt" *ngIf="this.idProjectSelect == 5">
    <app-login></app-login>
  </div>

  <div class="container-jwt-detail" *ngIf="this.idProjectSelect == 6">
    <h2>Bienvenid@</h2>
    <h1>
      <strong>{{ this.name }}</strong>
    </h1>
  </div>
</div>
