<div class="content">
  <app-header id="app-header"></app-header>

  <div class="container-pages-app">
    <div>
      <router-outlet></router-outlet>
      <footer>
        <hr />
        <div>
          <div class="container-info-build">
            <p class="text-footer">Construido en <strong>Angular</strong></p>
            <p>*</p>
            <p>Hecho por <strong>Neider Urbano</strong></p>
            <p>*</p>
            <p>@ {{ dateCurrent | date : "dd/MM/yyyy" }}</p>
          </div>
          <p class="parrafo-mi-portafolio-web">Mi portafolio web</p>
        </div>
      </footer>
    </div>
  </div>
</div>
